// Color
$mainColor: #fff;
$sectionTitleColor: #333333;
$sectionSubTitleColor: #f2c94c;
$sectionPriceBg: #202020;

// Fonts
$mainFont: "Proxima Nova Regular";
$mainFontBold: "Proxima Nova Bold";
$secondFont: "Gilroy Regular";
$titleFont: "Gilroy Extra Bold";
$secondFontBold: "Gilroy Bold";
$priceFontTitle: "Playfair Display Bold Italic";
$priceFontConditions: "Proxima Nova Semibold";
$priceFontCost: "Proxima Nova Extrabold";
$textItalic: "Proxima Nova Semibold It";
